.experience {
  margin: auto;
  width: 90%;
  padding: 20px 0px;
  font-family: "Inter", sans-serif;
  h1 {
    font-size: 23px;
    padding-bottom: 10px;
    a {
      font-size: 23px;
      color: #f09335;
      text-decoration: none;
    }
  }
  h2 {
    font-size: 18px;
    font-family: "Fira Code", monospace;
    padding-bottom: 15px;
  }
  ul {
    list-style-image: url("../images/bullet.svg");
    line-height: 35px;
    padding: 0px 0px 20px 10px;
    span {
      color: #f09335;
    }
  }
  img {
    height: 50px;
    width: 50px;
  }
}
