.footer {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  font-family: "Inter", sans-serif;
  border-top: 2px solid white;
  a {
    border-radius: 50% !important;
    margin: 0px 3px;
  }
  .circle {
    height: 60px;
    width: 60px;

    border: 1px solid #f09335;
    padding: 12px;
    font-size: 30px;
    border-radius: 20% !important;
    text-align: center;
    text-decoration: none;
  }
  #arrow   {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
  }
  #arrow:hover   {
    top: -10px;
  }
}
